### Gradle ###
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

### Build output ###
build/
out/
bin/
target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

### macOS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Application ###
application-local.properties
application-local.yml

### Logs ###
*.log
logs/

### MongoDB ###
data/